.header {
  display: flex;
  justify-content: center;
}

.header__logo-image{
  width: 100%;
  max-width: 254px;
}

@media screen and (min-width:1000px) {

.header__logo-image {
  padding-top: 2.125%;
  padding-left: 32%;
  padding-right: 32%;
}
}


@media screen and (max-width:999px) and (min-width:550px) {

.header__logo-image {
  padding-top: 1.875%;
  padding-left: 16.063%;
  padding-right: 16.063%;
}
}


@media screen and (max-width:549px) {

.header__logo-image {
  padding-top: 1.25%;
  padding-left: 4.125%;
  padding-right: 4.125%;
  max-width: 188px;
}
}