@media screen and (min-width:1000px) {
.header {
    display: flex;
    justify-content: center;
}

.header__logo-image {
    padding-top: 2.125%;
}
}


@media screen and (max-width:999px) and (min-width:550px) {
.header {
  display: flex;
  justify-content: center;
}

.header__logo-image {
  padding-top: 1.875%;
  height: 7.025vh;
}
}


@media screen and (max-width:549px) {
.header {
  display: flex;
  justify-content: center;
}

.header__logo-image {
  padding-top: 1.25%;
  width: 55vw;
  height: 5.8vh;
}
}