.places{
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: center;
}

.places__destiny{
  display: grid;
  grid-template-areas:
  "title website"
  "image paragraph"
  "frame paragraph"
  ". paragraph";
  column-gap: 40px;
  row-gap: 48px;
  max-width: 948px;
}

.places__title{
  grid-area: title;
  margin: 0;
  max-width: 460px;
}

.places__website{
  grid-area: website;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}

.places__website-heading{
  padding: 0 0 0.5%;
  color:#AAA;
  max-width: 85.17px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1;
}

.places__website-artist{
  margin: 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1;
}

.places__paragraph {
  margin: 0;
  padding-bottom: 1.563%;
}

.places__container-paragraph{
  grid-area: paragraph;
}

.places__frame{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 356.08px;
  height: 48px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-decoration: none;
  color: #fff;
}

.places__frame:hover {
  background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.places__image{
  grid-area: image;
  background: #000000;
  border: border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.places__image:hover {
  background: #00000080;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  opacity: 50%;
  width: 100%;
}

@media screen and (min-width:1000px){
  .places{
    padding-top: 5.75%;
  }

  .places__title{
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 1.1;
  }

  .places__paragraph {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.63;
  }

  .places__website{
    padding: 10.063% 0 0;
  }
}

@media screen and (max-width:999px) and (min-width:550px) {
  .places{
    padding-top: 5.5%;
    padding-left: 1.5%;
    padding-right:1.5%;
  }

  .places__title{
    font-weight: 900;
    font-size: 2.625rem;
    line-height: 1.1;
    width: 340px;
  }

  .places__paragraph {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.63;
  }

  .places__website{
    padding: 10.063% 0 0;
  }

  .places__image{
    width: 340px;
  }

  .places__image:hover{
    width: 340px;
  }

  .places__frame{
    width: 340px;
  }

  .places__frame:hover{
    width:340px;
  }
}

@media screen and (max-width:549px) {
  .places{
    padding-top: 3.875%;
    padding-left: 1%;
    padding-right: 1%;
  }

  .places__destiny{
    margin: 0;
    padding: 0;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph"
    "paragraph"
    "paragraph"
    "frame";
  }

  .places__title{
    padding-top: 3.875%;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.1;
  }

  .places__paragraph {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.63;
  }

  .places__image{
    width: 100%;
  }

  .places__image:hover{
    width: 100%;
  }

  .places__frame{
    width: 100%;
  }

  .places__frame:hover{
    width: 100%;
  }
}